<nav
  id="navbar-id"
  class="navbar navbar-expand-lg"
  *ngIf="router.url !== '/password_wallet'"
  [ngClass]="{
    'navbar-trans': menuCampaign
  }"
  [ngStyle]="{
    background: isWelcomePage ? '#1f2337' : defaultHeaderBackground
  }"
  #headerNav
>
  <div class="container-fluid height-fluid">
    <a class="navbar-brand d-none d-lg-block" [routerLink]="['welcome']">
      <img
        src="assets/Images/logo-versions/logo_blanc.svg"
        style="width: 150px; height: 60px"
      />
    </a>

    <a class="navbar-toggler d-lg-none menu-mobile">
      <i class="navbar-brand">
        <img
          (click)="toggleMoreMobile()"
          src="assets/Images/satt_logo_responsive.svg"
          width="42"
          height="42"
          (click)="navigateToWelcomePage()"
        />
      </i>
    </a>

    <div class="phone">
      <div
        class="d-md-block d-xl-none d-lg-none d-sm-block navbar-nav"
        *ngIf="!isUserConnected()"
      >
        <button class="button-connect" (click)="voteService.connectWallet('metamask')">
          <img src="assets/Images/connected-wallet.png" />
          Connect Wallet
        </button>
      </div>
      <ul
        class="d-md-block d-xl-none d-lg-none d-sm-block navbar-nav"
        *ngIf="
          isUserConnected()
        "
      >
        <!------------------------------------------------------------------------->
        <li class="li-menu-profil">
          <div class="dropdown2" id="myDropdown" id="intro4">
            <a
              class="btn dropdown-toggle dropdown-toggle-content"
              id="dropdownMenuButton2"
              data-flip="false"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img src="assets/Images/connected-wallet.png" />
              <span class="span-userName ps-2 pe-2">'{{
                formattedCreator
              }}'</span>
              <i class="chevron fa fa-fw"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu2"
              id="dropdown-menu-profil"
              aria-labelledby="dropdownMenuButton2"
            >
              <li class="deconnect_icon">
                <a
                  class="dropdown-item-profil profil-item"
                  (click)="voteService.Disconnect()"
                  ><span class="icon-power-1 icondrop"></span>Disconnect
                  Wallet</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    


    <div class="desktop-menu" id="navbarSupportedContent">
      <ul class="d-flex ul-left-side">
        <li class="li-menu" [ngClass]="{ 'is-visited': menuAdpool }" id="intro2">
          <a
            class="adpools"
            [routerLink]="['/ad-pools']"
            (click)="checkMenuAdpool()"
          >
            <span>{{ 'Ad_Pools' | translate }}</span>
          </a>
        </li>
        <li class="li-menu" [ngClass]="{ 'is-visited': menuFarmPost }" id="intro3">
          <a
            *ngIf="isUserConnected()"
            class="farmPost"
            [routerLink]="['/farm-posts']"
            (click)="checkMenuFarmPost()"
            >{{ 'faq_farmming' | translate }}</a
          >
          <a
            *ngIf="!isUserConnected()"
            class="farmPost"
           
            ><span>{{ 'faq_farmming' | translate }}</span></a
          >
        </li>

        <li [ngClass]="{ 'is-visited': menuProfile }" class="li-menu" id="intro11">
          <a class="vote" *ngIf="isUserConnected()" [routerLink]="['/social-networks']"><span>Profile</span> </a>
          <a class="vote" *ngIf="!isUserConnected()"><span>Profile</span> </a>
        </li>
        <div class="vote-btn-container">
          <abbr>
            <li class="li-menu-vote" id="intro11">
              <a class="vote" [routerLink]="['/vote']"><span>Vote</span> </a>       
            </li>
          </abbr>
        </div>
      </ul>

      <ul
        class="right_nav_side navbar-nav right-menu"
        *ngIf="
          isUserConnected()
        "
      >
      
        <!------------------------------------------------------------------------->
        <li class="li-menu-profil">
          <div class="dropdown2" id="myDropdown" id="intro4">
            <a
              class="btn dropdown-toggle dropdown-toggle-content"
              id="dropdownMenuButton2"
              data-flip="false"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img src="assets/Images/connected-wallet.png" />
              <span class="span-userName ps-2 pe-2">{{
                 formattedCreator
              }}</span>
             
              <i class="chevron fa fa-fw"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu2"
              id="dropdown-menu-profil"
              aria-labelledby="dropdownMenuButton2"
              style="padding: 0 !important;">           
              <li class="deconnect_icon">
                <!-- (click)="" -->
                <a
                (click)="voteService.showConnectDialog(infoWalletModal)"
                  class="dropdown-item-profil profil-item"
                  ><span class="bi bi-wallet icondrop"></span>
                  Wallet</a
                >
              </li>
              <li class="deconnect_icon">
                <!-- (click)="" -->
                <a
                (click)="showTransactions(showAdressWallet())"
                  class="dropdown-item-profil profil-item"
                  ><span class="bi bi-cash-stack icondrop"></span>Tansactions
                  </a
                >
              </li>
              <li class="deconnect_icon">
                <a
                  class="dropdown-item-profil profil-item"
                  (click)="voteService.Disconnect()"
                  ><span class="icon-power-1 icondrop"></span>Disconnect
                  Wallet</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <ul class="right_nav_side navbar-nav right-menu">
        <div>
          <button (click)="toggleNetworkList()"class="network_btn" [ngClass]="{'margin_right' : isUserConnected()}">
            <img class="network_logo" [src]="'assets/Images/' + networkLogo + '.svg'"  alt="">
            <span class="network_label">{{networkLabel | uppercase}}</span>
            <ng-container *ngIf="!showNetwork; else arrowUp">
            <i style="color: white; position: relative; top:0.2em;" class="bi bi-chevron-down"></i>
          </ng-container>
          <ng-template #arrowUp>
            <i style="color: white; position: relative; top:0.2em;" class="bi bi-chevron-up"></i>
          </ng-template>
            <ul class="network_list" [ngClass] = "{'show': showNetwork}">
              <!-- <span [ngClass]="{'abbrSoon': isLast}"></span> -->
              <!-- [class.disabled]="isLast"  -->
              <li (click)="displayNetwork(el)" *ngFor="let el of networkList; first as isFirst ; last as isLast">
                <!-- *ngIf="showNetwork" -->
                <ng-container>
                  <!-- [class.is_last]="isLast" -->
                  <div class="network_list_container" [class.is_last]="isLast" [class.is_first]="isFirst">
                    <img class="network_list_logo" [src]="el.logo" alt="">
                    <!-- <span [ngClass]="{'abbrSoon': isLast}"></span> -->
                    <p class="network_list_label">{{el.network}} 
                      <!-- <p [ngClass]="'bold'" class="network_list_label" (click)="toggleAddressVisibility(el)">&nbsp;Adress: {{el.adress}}</p> -->
                    </div>
                    </ng-container>
                </li>
            </ul>
          </button>
        </div>
        
        <div *ngIf="!isUserConnected()">
          <button class="button-connect" (click)="voteService.connectWallet('metamask')">
            <img src="assets/Images/connected-wallet.png" />
            Connect Wallet
          </button>
        </div>
      </ul>
    </div>
    

  </div>
</nav>






<ng-template #connectModal>
  <div *ngIf="getScreenWidth > 767" class="d-flex">
    <div class="d-block col-5 block-primary">
      <img src="./../../../../assets/Images/connect-wallet-icon.svg" class="description-image" >
      <h4 class="description-title">
       
        Connect Wallet
      </h4>
      <p class="description-content">
        Start by connecting with one of the following wallets
      </p>
    </div>
   
    <div class="d-block" style=" width: 100%;">
      <div class="d-flex justify-content-between description-block" >
        <h4 class="modal-title">
          Available Wallets
        </h4>
        <button (click)="voteService.hideConnectDialog(connectModal)" class="close-button" >
          <img src="./../../../../assets/Images/icon-close.svg" />
        </button>
      </div>
      
  
      <div class="d-flex flex-column justify-content-center align-items-center buttons-block" >
  
        <button
      type="button"
      
      (click)="sattConnect()"
      class="generator wallet-connect-button"><img src="./../../../../assets/Images/Satt.svg" class="wallet-connect-type"/> SaTT Wallet
    </button>
  
    <button
    (click)="connectMetaMask()"
      type="button"
      class="generator wallet-connect-button"><img src="./../../../../assets/Images/metamask.svg" class="wallet-connect-type" /> MetaMask
    </button>
      </div>
      
    </div>
  </div>
  
  <div *ngIf="getScreenWidth <= 767" class="mobile-block">
    <button (click)="voteService.hideConnectDialog(connectModal)" class="close-button">
      <img src="./../../../../assets/Images/icon-close.svg" />
    </button>
    <img src="./../../../../assets/Images/connect-wallet-icon.svg" class="description-image" >
    <h4 class="modal-title">
      Available Wallets
    </h4>
    <div class="d-flex flex-column justify-content-center align-items-center buttons-block" >
  
      <button
    type="button"
    
    (click)="sattConnect()"
    class="generator wallet-connect-button"><img src="./../../../../assets/Images/Satt.svg" class="wallet-connect-type"/> SaTT Wallet
  </button>
  
  <button
  (click)="connectMetaMask()"
    type="button"
    class="generator wallet-connect-button"><img src="./../../../../assets/Images/metamask.svg" class="wallet-connect-type" /> MetaMask 
  </button>
    </div>
  </div>
  
  
</ng-template>




<ng-template #infoWalletModal>
  <div *ngIf="getScreenWidth > 767" class="d-flex infoWalletModal">
   
    <div class="d-block" style=" width: 100%;">
      <div class="d-flex justify-content-between description-block" >
        <h4 class="modal-title">

         Your Wallet
        </h4>
        <button style="visibility: hidden;" (click)="voteService.hideConnectDialog(connectModal)" class="close-button" >
          <img src="./../../../../assets/Images/icon-close.svg" />
        </button>
      </div>
      <div class="d-block" >
        <input [formControl]="adressWallet"  type="text" class="input_adressWallet col-10 ml-1"  readonly/>
      <img
      class="copy col-2"
      src="assets/Images/copy.svg"
      alt=""
      (click)="copyAddressToClipboard()"
      />
      <div *ngIf="copyMessage" class="copy-message">{{ copyMessage }}</div>
      <button (click)="showTransactions(showAdressWallet())" class="wallet-connect-button2">View Transactions</button>
      </div>
      <div>
      <button
      (click)="Disconnect();closeInfoWalletModal()"
        type="button"
        class="wallet-connect-button2"><img src="" /> Disconnect
      </button>
        </div>
    </div>
    </div>
      
  
     
      
    <!-- </div> -->
  <!-- </div> -->
  
  <div *ngIf="getScreenWidth <= 767" class="mobile-block">
    <img src="./../../../../assets/Images/moonboy.svg" class="description-image2" >
      <!-- <h4 class="description-title">
     Your Wallet
      </h4> -->
    <div class="d-flex justify-content-between description-block" >
      <h4 class="modal-title">

        Your Wallet
      </h4>
      <button [ngClass]="'mobile'" (click)="voteService.hideConnectDialog(connectModal)" class="close-button" >
        <img src="./../../../../assets/Images/icon-close.svg" />
      </button>
    </div>
    <div class="d-block"  >
        <input [ngClass]="'mobile'" [formControl]="adressWallet" type="text" class="input_adressWallet col-10 ml-1"  readonly/>
      <img
      class="copy col-2"
      [ngClass]="'mobile'"
      src="assets/Images/copy.svg"
      alt=""
      (click)="copyAddressToClipboard()"
      />
      <div *ngIf="copyMessage" class="copy-message">{{ copyMessage }}</div>
      <button (click)="showTransactions(showAdressWallet())" class="wallet-connect-button2">View Transactions</button>
  </div>
  <div>
    <button
    (click)="Disconnect();closeInfoWalletModal()"
      type="button"
      class="wallet-connect-button2"><img src="" /> Disconnect
    </button>
      </div>
  </div>
  
  
</ng-template>