<div class="box-container">
  <div class="header-container mt-6">
    <div class="image">
      <img src="../../assets/Group 10615.png" />
    </div>
    <div class="header-box">
      <span class="header">
        <h1 class="mainTitle">Make your proposal</h1>
        <p class="intro">
          Make your voice heard in shaping the future of the SaTT Ecosystem
        </p>
      </span>
      <button class="createProButton" (click)="makeProposalPage()">
        Create your proposal
      </button>
      <!-- <button class="create-btn" (click)="makeProposalPage()">
        Create your proposal
      </button> -->
    </div>
  </div>

  <div class="mainPage">
    <app-proposal-list></app-proposal-list>
  </div>
</div>

<!-- <button (click)="makeProposalPage()">Make a proposal</button>

<app-proposal-list></app-proposal-list> -->
