<div class="div-menu">
  <div class="div-home">
    <a href="https://dapp.satt.com/wallet">
      <div class="div-pic">
        <img src="assets/Images/blue-icons/wallet-icon-blue.svg" />
      </div>

      <span class="span-text">Wallet</span>
    </a>
  </div>

  <div class="div-adPool">
    <a href="https://dapp.satt.com/ad-pools">
      <div class="div-pic">
        <img src="assets/Images/blue-icons/adpool-icon-blue.svg" />
      </div>

      <span class="span-text">AdPool</span>
    </a>
  </div>

  <div class="div-wallet">
    <!-- <div
      class="half-circle"
      *ngIf="this.sidebarService.toggleFooterMobile.value"
      [ngClass]="{
        'half-circle-block': this.sidebarService.toggleFooterMobile.value
      }"
    > -->
    <!-- <div class="d-flex justify-content-center">
        <button
          type="button"
          class="half-circle-button"
 
          (click)="toggleMobile();"
        >
          <span class="icon-ins"></span>
        </button>
      </div>
      <div class="d-flex justify-content-between">
        <div class="">
          <button
            [routerLink]="['/wallet/send']"
            type="button"
            class="half-circle-button"
            (click)="toggleMobile();"
          >
            <span class="icon-arrow-1"></span>
          </button>
        </div>
        <div class="">
          <button
            [routerLink]="['/wallet/receive']"
            type="button"
            class="half-circle-button"
            (click)="toggleMobile();"
          >
            <span class="icon-arrow1"></span>
          </button>
        </div>
      </div> -->
    <!-- </div> -->

    <div
      class="div-pic-wallet"
      [routerLink]="['/']"
      [ngClass]="{ 'blue-bg': showHalf }"
    >
      <div class="div-pic">
        <img src="assets/Images/blue-icons/vote-blue-icon.png" />
      </div>
      <!-- <span
        class="icon-ic1 span-icon ms-1"
        *ngIf="!this.sidebarService.toggleFooterMobile.value"
      ></span>
      <i
        class="fas fa-check checked-icon"
        *ngIf="this.sidebarService.toggleFooterMobile.value"
      ></i> -->
      <!-- <img src="assets/Images/blue-icons/wallet-icon-blue.svg" /> -->
    </div>

    <span class="span-text">Vote</span>
  </div>

  <div class="div-farm">
    <a href="https://dapp.satt.com/farm-posts">
      <div class="div-pic">
        <img src="assets/Images/blue-icons/farmpost-icon-blue.svg" />
      </div>

      <span class="span-text">PostFarm</span>
    </a>
  </div>

  <div class="div-help">
    <a href="https://dapp.satt.com/FAQ">
      <div class="div-pic">
        <img src="assets/Images/blue-icons/help-icon-blue.svg" />
      </div>

      <span class="span-text">Help</span>
    </a>
  </div>
</div>
